<fieldset>
	<legend>작성</legend>
	<ul>
		<li>
			<label for="feedTitle">제목</label>
			<input type="text" name="feedTitle" id="feedTitle" placeholder="제목" required minlength="2" maxlength="50" data-ng-model="feedTitle" data-ng-trim="true" data-ng-minlength="2" data-ng-max-length="50">
		</li>
		<li>
			<label for="feedAuthor">작성자</label>
			<input type="text" name="feedAuthor" id="feedAuthor" required data-ng-model="feedAuthor">
		</li>
		<li>
			<label for="feedArea">지역</label>
			<input type="text" name="feedArea" id="feedArea" required data-ng-model="feedArea">
		</li>
		<li>
			<label for="feedContents">내용</label>
			<textarea name="" id="feedContents" cols="30" rows="10" required minlength="2" data-ng-model="feedContents" data-ng-minlength="2"></textarea>
		</li>
		<li>
			<label for="feedImage">이미지</label>
			<input type="file" name="feedImage" id="feedImage" data-ng-model="feedImage" accept="image/*" multiple>
		</li>
	</ul>
	<button type="button" data-ng-click="submit()">저장</button>
</fieldset>