<article data-ng-class="feed.type">
	<header>
		<mark>{{feed.sort}}</mark>
		<strong>{{feed.location}}</strong>
		<small><span rel="author">{{feed.author}}</span> <time>{{feed.date}}</time></small>
		<menu>
			<input type="checkbox" name="" id="inp-feed-{{feed.sort}}-{{$index}}" data-ng-model="interests[interest.name]" data-ng-change="changeInterest(feed.sort)">
			<label for="inp-feed-{{feed.sort}}-{{$index}}">소식받기</label>
		</menu>
	</header>
	<section>
		<h3>{{feed.title}}</h3>
		<p>{{feed.contents}}</p>
		<ul>
			<li>
				<section>
					<h4>좋아요수</h4>
					<ul>
						<li data-ng-repeat="like in feed.likes">{{like}}</li>
					</ul>
				</section>
			</li>
			<li>
				<section>
					<h4>댓글</h4>
					<ul>
						<li data-ng-repeat="reply in feed.replys">
							<em>{{reply.id}}</em>
							<time>{{reply.date}}</time>
							<p>{{reply.contents}}</p>
						</li>
					</ul>
				</section>
			</li>
			<li>
				<section>
					<h4>조회수</h4>
					<ul>
						<li data-ng-repeat="view in feed.views">{{view}}</li>
					</ul>
				</section>
			</li>
			<li>
				<section>
					<h4>평점</h4>
					<ul>
						<li data-ng-repeat="grade in feed.grades">
							<em>{{grade.id}}</em>
							<var>{{grade.grade}}</var>
						</li>
					</ul>
				</section>
			</li>
		</ul>
	</section>
	<footer>
		<menu>
			<button type="button" data-ng-click="feedSave(feed._id)">스크랩하기</button>
			<button type="button" data-ng-click="feedShare(feed._id)">공유하기</button>
			<button type="button" data-ng-click="feedReply(feed._id)">댓글달기</button>
		</menu>
	</footer>
</article>