<ul>
	<li data-ng-repeat="feed in feeds">
		<article data-ng-class="feed.type">
			<header>
				<mark>{{feed.sort}}</mark>
				<strong>{{feed.location}}</strong>
				<small><span rel="author">{{feed.author}}</span> <time>{{feed.date}}</time></small>
				<menu>
					<input type="checkbox" name="" id="inp-feed-{{feed.sort}}-{{$index}}" data-ng-model="interests[interest.name]" data-ng-change="changeInterest(feed.sort)">
					<label for="inp-feed-{{feed.sort}}-{{$index}}">소식받기</label>
				</menu>
			</header>
			<section>
				<h3>{{feed.title}}</h3>
				<div>{{feed.contents}}</div>
				<!-- <div data-ng-bind-html="feed.contents"></div> -->
				<ul>
					<li><span class="ico">좋아요수</span><var>{{feed.likes}}</var></li>
					<li><span class="ico">댓글수</span><var>{{feed.replys}}</var></li>
					<li><span class="ico">조회수</span><var>{{feed.views}}</var></li>
					<li><span class="ico">평점</span><var>{{feed.grades}}</var></li>
				</ul>
				<button type="button" data-ng-click="feedDetail(feed._id)">{{feed.title}}</button>
			</section>
			<footer>
				<menu>
					<button type="button" data-ng-click="feedSave(feed._id)">스크랩하기</button>
					<button type="button" data-ng-click="feedShare(feed._id)">공유하기</button>
					<button type="button" data-ng-click="feedReply(feed._id)">댓글달기</button>
				</menu>
			</footer>
		</article>
	</li>
</ul>