@import "define";

// category layout
#categoryLy {
	> section {
		> ul {
			> li {
				overflow: hidden;
				position: relative;
				border-top: 1px solid #fff;
				border-bottom: 1px solid #e5e5e5;
				font-size: mobilePx(28);
				letter-spacing: -1px;				
				color: #666666;
				@include clearifx;

				&:first-child {
					border-top: 0px none;
				}

				> .ico {
					position: absolute;
					top:50%; left: mobilePx(30);

					&.female {
						margin-top: mobilePx(50,ceil)/-2;
					}
					&.education {
						margin-top: mobilePx(48,ceil)/-2;
					}
					&.safety {
						margin-top: mobilePx(58,ceil)/-2;
					}
					&.health {
						margin-top: mobilePx(61,ceil)/-2;
					}
					&.family {
						margin-top: mobilePx(50,ceil)/-2;
					}
					&.economy {
						margin-top: mobilePx(56,ceil)/-2;
					}
					&.employment {
						margin-top: mobilePx(51,ceil)/-2;
					}
					&.life {
						margin-top: mobilePx(51,ceil)/-2;
					}
					&.etc {
						margin-top: mobilePx(49,ceil)/-2;
					}
				}
				> label {
					display: block;
					width: 100%; 
					height: mobilePx(49);
					line-height: mobilePx(49);
					padding-top: mobilePx(25);
					padding-bottom: mobilePx(20);
					padding-left: mobilePx(120);
					padding-right: mobilePx(35);
					background-color: #f7f7f7;
				}
				> input {
					position: absolute;
					top: mobilePx(25);
					right: mobilePx(35);

					&:checked+label {
						background-color: #fff;
					}
				}
			}
		}
	}
}