@import "define";


@include prefix-keyframe( loadingAnimate ) {
	0% { 
		@include prefix-translateX(0%); 
	}
	100% { 
		@include prefix-translateX(-100%); 
	}	
}

// loading layout
#loadingLy {
	width: 100%; height: 100%;

	&:before,
	&:after {
		content: ' ';
		position: fixed;
		top: 0;
		display: block;
		width: mobilePercentage( $loadingBgWid ); height: 100%;
		background-image: url(#{$baseSrc}images/loading/bg.png);	
		background-repeat: no-repeat;
		background-size: cover;
		@include prefix-animation( 0s, $loadingTime, loadingAnimate, infinite, linear );
	}
	&:before {
		left: 0;
	}
	&:after {
		left: mobilePercentage( $loadingBgWid );
		@each $vender in $venders {
			#{$vender}transform: scaleY( -1 );
		}
	}

	h1 {	
		z-index: 2;
		position: absolute;
		top: 50%; left: 50%;
		text-align: center;
		width: mobilePx(338);
		height: mobilePx(318);
		margin-left: mobilePx(338) / 2 * -1;
		margin-top: mobilePx(318) / 2 * -1;
	}
	footer {
		z-index: 2;
		position: absolute;
		bottom: 10%; left: 50%;

		address {
			text-align: center;
			width: mobilePx(285);
			height: mobilePx(55);
			margin-left: mobilePx(285) / 2 * -1;
			margin-top: mobilePx(55) / 2 * -1;
		}
	}
	img {
		width: 100%;
	}
}