@import "define";

[id^="my"],
[id^="app"]{
	fieldset {
		margin-top: -1px;

		legend {
			overflow: hidden;
			height: 1px;
			opacity: 0;
		}
	}
}

.list.type1 {
	ul {
		> li {
			$paddingHori: 45;
			$paddingLeft: 36;
			$paddingRight: 30;
			overflow: hidden;
			position: relative;
			padding-left: mobilePx( $paddingLeft );
			padding-right: mobilePx( $paddingRight );
			border-bottom: 1px solid #cacaca;
			@include prefix-flexbox2;
			@include prefix-css3( flex-direction, row-reverse );

			&.item-sub {
				padding-left: mobilePx( $paddingLeft + 25 );
				background: #F2F2F2;

				label {
					left: mobilePx( $paddingLeft + 25 );
				}
			}

			select {
				display: block;
				padding: mobilePx( $paddingHori ) 0;
				border: 0px none;
				background: url(#{$baseSrc}images/bl-arrow2.png) right center no-repeat;
				background-size: mobilePx(13) mobilePx(24);
				box-sizing: border-box;
				font-size: mobilePx(30);
				letter-spacing: -1px;
				color: rgba(0,0,0,0);
				@include prefix-css3( appearance, none );
				@include prefix-css3( flex-grow, 1 );

				option {
					font-size: mobilePx(30);
					font-weight: normal;
					color: #999999;
				}

				&.isInit {
					color: rgba(0,0,0,255);
					font-weight: normal;
					color: #999999;

					& + label {
						display: none;

						& + var {
							display: none;
						}
					}
				}
			}

			label,
			var {
				position: absolute;
				top: 0px; 
				display: inline-block;
				padding: mobilePx( $paddingHori ) 0;	
				white-space: nowrap;
				vertical-align: top;
				font-weight: bold;
				font-size: mobilePx(30);
				letter-spacing: -1px;
			}
			label {
				left: mobilePx( $paddingLeft );
				color: #333333;
			}
			var {
				right: mobilePx( $paddingRight + 10 + 13 );
				color: #7da0d6;	
			}
		}
	}
}

.list.type2 {
	ul {
		> li {
			position: relative;
			padding-top: mobilePx(44);
			padding-bottom: mobilePx(34);
			padding-left: mobilePx(34);
			padding-right: mobilePx(26);
			border-bottom: 1px solid #cacaca;

			&.item-3 {
				button {
					position: absolute;
					top: 0; left: 0; width: 100%; height: 100%;
					color: rgba(0,0,0,0);
				}
			}

			> strong {
				display: block;
				font-size: mobilePx(30);
				color: #333333;
				letter-spacing: -1px;
			}
			> small {
				display: block;
				margin-top: mobilePx(14);
				font-size: max( mobilePx(20), $minFontSize );
				color: #999999;
				letter-spacing: -1px;
			}
			> menu {
				overflow: hidden;
				position: absolute;
				top: 50%; 
				right: mobilePx(26);
				margin-top: mobilePx(54)/2*-1; 
				@include clearifx;

				input {
					float: left;
					margin-left: mobilePx(22);
				}
			}
		}
	}
}

// my layout
#myLy {
	> section {
		padding-top: mobilePx(74);

		> dl {
			position: relative;
			padding-top: mobilePx(324);
			text-align: center;
			letter-spacing: -1px;

			dt {
				margin-bottom: mobilePx(15,floor);
				text-align: center;
				font-size: mobilePx(40);
				font-weight: bold;
				color: #333333;

				& + dd:after {
					content: ' / ';
					display: inline-block;
				}
			}
			dd {
				display: inline-block;
				font-size: mobilePx(30);
				color: #666666;

				&:last-child {
					display: block;
					margin-top: mobilePx(15,floor);

					a,
					button {
						padding: mobilePx(4) mobilePx(24);
						border: 1px solid #c9c9c9;
						border-radius: mobilePx(20);
						text-decoration: none;
						font-size: max( mobilePx(20), $minFontSize );
						font-weight: bold;
						color: #999999;
						letter-spacing: -1px;
					}
				}

				&.item-pic {
					position: absolute;
					top: 0px;
					left: 50%;
					width: mobilePx(280);
					height: mobilePx(280);
					margin-left: mobilePx(280)/2*-1;
					background: url(#{$baseSrc}images/img-pic-none.jpg) no-repeat 0 0;
					background-size: mobilePx(280) mobilePx(280);
					border-radius: 50% 50%;

					img {
						width: inherit; height: inherit;
						border-radius: 50% 50%;
					}
				}
			}
		}
		> menu {
			$menuCnt: 3;
			overflow: hidden;
			margin-top: mobilePx(83);
			border-top: 1px solid #e5e5e5;
			border-bottom: 1px solid #e5e5e5;
			background-color: #f7f7f7;

			a,
			button {
				float: left;
				display: inline-block;
				width: floor(100/$menuCnt) + 0%;
				height: mobilePx(209);
				border-top: 1px solid #fff;
				border-bottom: 1px solid #fff;
				border-left: 1px solid #e5e5e5;
				border-right: 1px solid #fff;
				box-sizing: border-box;
				white-space: nowrap;
				text-align: center;
				text-decoration: none;
				font-size: mobilePx(28);
				color: #666666;
				letter-spacing: -1px;

				&:first-child {
					border-left: 0px none;

					& + * {
						width: floor(100/$menuCnt) + (100 - (floor(100/$menuCnt) * $menuCnt)) + 0%;
					}
				}

				&:before {
					content: ' ';
					display: block;
					width: 100%;
					height: mobilePx(60);
					margin: mobilePx(140-60)/2 0;
					background: url(#{$baseSrc}images/icos-my.png) no-repeat;
					background-size: mobilePx(69) mobilePx(60*3);
					background-position: center 0;
				}

				&.to-scrap {		
					&:before {
						background-position: center mobilePx(60*0)*-1;
					}
				}

				&.to-mine {	
					&:before {
						background-position: center mobilePx(60*1)*-1;
					}
				}

				&.to-setting {	
					&:before {
						background-position: center mobilePx(60*2)*-1;
					}
				}

				var {
					padding-left: mobilePx(8);
					color: #ff6b00;
				}
			}
		}
	}
}

#appIntroduceLy {
	> article {
		padding: mobilePx(20);
		background-color: #e6e6e6;
		font-size: mobilePx(28);
		color: #666666;
		letter-spacing: -1px;

		> div {
			overflow: hidden;
			padding: mobilePx(30);
			border: 1px solid #b8b8b8;
			background-color: #fff;
			background-image: url(#{$baseSrc}images/bg-app-introduce1.png), url(#{$baseSrc}images/bg-app-introduce2.png);
			background-position: right mobilePx(100), left mobilePx(1210);
			background-repeat: no-repeat;
			background-size: mobilePx(445) mobilePx(1158), mobilePx(445) mobilePx(1158);
		}
	}

	h3,
	mark {
		display: block;
		margin-top: mobilePx(50);
		background: none;
		font-size: inherit;
		color: #2b388f;
	}

	h3 {
		&:first-child {
			margin-top: 0;
		}
	}
	p,
	li {
		margin-top: 5px;
		line-height: 140%;
		font-size: inherit;
	}
}