<section id="appIntroduceLy">
	<header class="topLy">
		<div>
			<h1 class="type2">
				<button type="button" class="to-back ico"
					data-ng-click="backLink()">
					<span>이전 페이지 이동</span>
				</button>
				<span class="img-txt fdas2">서울의 발견</span>
			</h1>
		</div>
	</header>
	<article>
		<div>
			<h3>[알뜰 서울은요~]</h3>
			<p>‘알뜰 서울의 발견’은 놓치기 쉬운 서울의 많은 행정서비스를 알뜰하게 이용할 수 있도록 모아 두고 한눈에 볼 수 있도록 한 시민 맞춤 정보 공유 서비스로, 자신의 조건(연령별, 성별 등)에 맞는 맞춤 정보를 제공합니다.<br>
			우리 동네 행정 서비스가 궁금하시다고요? 그렇다면 지금 바로 관심 정보를 등록하고 정보를 조회해 보세요. 그런데 이런 내가 알고 있는 서비스가 조회가 안된다구요? <br>노고팀은 노가다가 최강인 팀이지만 아직 많은 정보를 입력해 나가야 합니다.  본인만 알고 있는 정보가 있다면 알뜰 정보를 기부해 주세요! ‘알뜰 서울의 발견’은 모바일에서도 서비스됩니다. (대단하죠? ^o^)<br>
			시민이 알고 있는 행정서비스 데이터를 직접 등록하고, 지인들에게 공유하면서 서비스를 더욱 알뜰하게 만들어 주세요.</p>

			<h3>[Code for Seoul은 뭐하는 곳 일까요?]</h3>
			<p>'알뜰 서울의 발견' 서비스 등을 만든 Code for Seoul은 도시사회의 문제를 코드로 해결하기 위해 모인 시민들의 자발적인 모임입니다. Code for Seoul은 도시사회 문제에 관심 있는 시민 이라면 누구나 자유롭게 참여하실 수 있습니다. 매주 월요일 저녁, 핵나잇(Hack Night)에서 밤에 활동하는 슈퍼히어로, 코드포서울 멤버들을 만나실 수 있습니다.</p>

			<h3>[멤버 소개]</h3>
			<p>Made by NoGo! Team in Code for Seoul</p>

			<ul>
				<li>
					<mark>구치훈</mark>
					프론트앤드 개발<br>
					즐겁고 감사한 한 해였습니다.
				</li>

				<li>
					<mark>김석동</mark>
					데이터 크롤링<br>
					안녕하세요. 김석동입니다.
				</li>

				<li>
					<mark>문정순</mark>
					UX/UI 디자인<br>
					작은 노력들이 변화의 씨앗이 되었기를 바랍니다.
				</li>

				<li>
					<mark>윤혜정</mark>
					기획 및 데이터<br>
					우리들의 도시, 서울을 위한 즐거운 노가다였어요 
				</li>

				<li>
					<mark>이예연</mark>
					아이덴티티 디자인<br>
					처음은 미약하나 나중은 창대하리라
				</li>

				<li>
					<mark>이종훈</mark>
					기획 및 데이터<br>
					데이터노가다 행동대장
				</li>

				<li>		 
					<mark>정창현</mark>
					모바일 개발<br>
					평범하지 않고싶은 개발자 정창현입니다.
				</li>

				<li>
					<mark>조용현</mark>
					만능<br>
					멋진 분들과 함께 코드와 함께 하는 수 많은 밤을 보냈네요~~<br>
					즐거운 경험이었습니다!
				</li>

				<li>
					<mark>홍영택</mark>
					백앤드 개발<br>
					If you hack, you hack with us!
				</li>
			</ul>
		</div>
	</article>
</section>