<section id="appSettingLy">
	<header class="topLy">
		<div>
			<h1 class="type2">
				<button type="button" class="to-back" data-ng-click="backLink()">
					<span class="to-back ico"><span>이전 페이지 이동</span></span>
				</button>
				<span class="img-txt app-setting">앱 설정</span>
			</h1>
			<menu class="type2">
				<button type="button" class="to-save ico" data-ng-click="save()">
					<span>저장</span>
				</button>
			</menu>
		</div>
	</header>
	<section class="list type2">
		<fieldset>
			<legend>설정</legend>
			<ul>
				<!-- <li class="item-1">
					<strong>알림 받기</strong>
					<small>관심 소식을 푸시 알림으로 알려드립니다.</small>
					<menu>
						<input type="checkbox" name="appAlarm" class="check type2" title="알림" data-ng-model="appAlarm">
					</menu>
				</li> -->
				<!-- <li>
					<a href="" ng-click="$emit( 'moveLink', 'feeds' )">리스트 바로가기</a>
				</li>
				<li>
					<a href="" ng-click="$emit( 'moveLink', 'feed/54911d925b81bf7502c501cb' )">아이템 바로가기</a>
				</li> -->
				<li class="item-2">
					<strong>로그인 설정</strong>
					<small>SNS 로그 설정을 합니다.</small>
					<menu>
						<input type="checkbox" name="snsFb" class="check sns facebook" title="페이스북 연동"
							data-ng-model="facebookLogin"
							data-ng-checked="login === true"
							data-ng-click="toggleAuth( $event );">
						<!-- <input type="checkbox" name="snsKaka" class="check sns kaka" title="카카오톡 연동"
							data-ng-true-value="'logined'"
							data-ng-false-value="'notlogined'"
							data-ng-model="snsKaka" 
							data-ng-click="snsLogin( 'kaka' )"> -->
					</menu>
				</li>
				<li class="item-3">
					<strong>서비스 소개</strong>
					<small>서비스 소개와 코드포서울 노GO!팀을 소개합니다.</small>
					<button type="button" data-ng-click="$parent.moveLink( 'app/introduce' )">
						<span>보기</span>
					</button>
				</li>
			</ul>
		</fieldset>
	</section>
</section>