<section id="categoryLy">
	<header class="topLy">
		<div>
			<h1 class="type2">
				<button type="button" class="to-back" data-ng-click="backLink()">
					<span class="to-back ico"><span>이전 페이지 이동</span></span>
				</button>
				<span class="img-txt category">관심사 설정</span>
			</h1>
			<menu class="type2">
				<button type="button" class="to-save ico"
					data-ng-click="save()">
					<span>저장</span>
				</button>
			</menu>
		</div>
	</header>
	<section>
		<ul>
			<li data-ng-repeat="category in categories">
				<span class="ico category"	
					data-ng-class="category.val">
					<span>{{category.label}}</span>
				</span>
				<input type="checkbox" id="{{category.val}}" class="check type1" 
					data-ng-model="categories[ category.val ]">
				<label for="{{category.val}}">{{category.label}}</label>
			</li>
		</ul>
	</section>
</section>

<!-- // dumy // -->
<!-- <li>
	<input type="checkbox" name="" id="check1" class="check type1">
	<label for="check1">여성</label>
</li> -->