<div class="modalLy"
	data-ng-show="onModal.type === 'popup'"
	data-ng-switch="onModal.sort">

	<!-- // 공유하기 // -->
	<section id="sharePopLy" class="popLy"
		data-ng-switch-when="share">
		<header>
			<h3>공유하기</h3>
		</header>
		<section>
			<menu>
				<button type="button" class="to-sns"
					data-ng-click="feedShare( 'facebook', onModal.data );">
					<span class="ico sns fb"></span>
					<span class="txt">페이스북</span>
				</button>
				<!-- <button type="button" class="to-sns">
					<span class="ico sns kaka"></span>
					<span class="txt">카카오스토리</span>
				</button> -->
				<button type="button" class="to-sns"
					data-ng-click="onModal.sort = 'shareCopy'">
					<span class="ico sns copy"></span>
					<span class="txt">URL 복사</span>
				</button>
			</menu>
		</section>
		<footer>
			<button type="button" class="ico to-close"
				data-ng-click="onModal.type = null">
				<span>팝업 닫기</span>
			</button>
		</footer>
	</section>

	<!-- // 공유하기 - 복사 // -->
	<section id="copyPopLy" class="popLy"
		data-ng-switch-when="shareCopy">
		<header>
			<h3>공유하기</h3>
		</header>
		<section>
			<input type="text" name="" value="http://www.naver.com/#/feed/{{onModal.data}}" title="공유할 주소" val="">
			<button type="button" class="btn type1">복사하기</button>
		</section>
		<footer>
			<button type="button" class="ico to-close"
				data-ng-click="onModal.type = null">
				<span>팝업 닫기</span>
			</button>
		</footer>
	</section>

	<!-- // 로그인 // -->
	<section id="loginPopLy" class="popLy"
		data-ng-switch-when="login">
		<header>
			<h3>댓글을 작성하려면 로그인 하세요</h3>
		</header>
		<section>
			<menu>
				<button type="button" class="to-sns">
					<span class="ico sns fb"></span>
					<span class="txt">페이스북</span>
				</button>
				<button type="button" class="to-sns">
					<span class="ico sns kaka"></span>
					<span class="txt">카카오스토리</span>
				</button>
			</menu>
		</section>
		<footer>
			<button type="button" class="ico to-close"
				data-ng-click="onModal.type = null">
				<span>팝업 닫기</span>
			</button>
		</footer>
	</section>

	<!-- // 평가하기 // -->
	<section id="starPopLy" class="popLy"
		data-ng-switch-when="star">
		<header>
			<h3>평가하기</h3>
		</header>
		<section>
			<input type="text" class="starRating" title="별점" 
				data-star-input-dir="starVal">
			<menu>
				<button type="button" class="btn type1"
					data-ng-click="feedRating( starVal, onModal.data );">완료</button>
				<button type="button" class="btn type2"
					data-ng-click="onModal.type = null">취소</button>
			</menu>
		</section>
		<footer>
			<button type="button" class="ico to-close"
				data-ng-click="onModal.type = null">
				<span>팝업 닫기</span>
			</button>
		</footer>
	</section>

	<!-- // 글 수정, 삭제 // -->
	<div id="optPopLy" class="popLy"
		data-ng-switch-when="opt">
		<button type="button" class="opt">글 수정하기</button>
		<button type="button" class="opt">글 삭제하기</button>
	</div>
</div>

<!-- <div id="scrapingLy" class="modalLy"
	data-ng-show="onModal.type === 'animate'">
	<div>
		<p>해당 정보가 스크랩 되었습니다.</p>
	</div>
</div> -->