@import "define";

@font-face {
	font-family: 'NanumGothic';
	src: url('#{$baseSrc}font/NanumGothic-Regular.eot');
	src: 
		local( 'NanumGothic' ), 
		local( 'Nanum Gothic' ), 
		local( '0' ), 
		url('#{$baseSrc}font/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'), 
		url('#{$baseSrc}font/NanumGothic-Regular.woff') format('woff'), 
		url('#{$baseSrc}font/NanumGothic-Regular.ttf') format('truetype');
	font-style: normal;
}

// common
* { margin: 0px; padding: 0px; }
ul, li { list-style: none; }
fieldset { border: 0px none; }
html, body, #bodyLy, #wrapLy { width: 100%; height: 100%; min-width: $minWidth; }
textarea { resize: none; }
img { vertical-align:top; border: 0px none; font-size:0px; }
button { border: 0px none; background: none; cursor: pointer; box-sizing: content-box; font-family: inherit; }
var, em { font-style: normal; }

main {
	text-align: center;
}