<div data-ng-controller="appSettingCtrl">
	<fieldset>
		<legend>어플 정보 설정</legend>
		<ul>
			<li>
				<h4>업데이트</h4>
				<div>
					<input type="checkbox" name="appUpdate" id="appUpdate" data-ng-model="appUpdate" data-ng-change="change()">
					<label for="appUpdate">허용</label>
				</div>
			</li>
			<li>
				<h4>푸시알림</h4>
				<div>
					<input type="checkbox" name="appAlarm" id="appAlarm" data-ng-model="appAlarm" data-ng-change="change()">
					<label for="appAlarm">허용</label>
				</div>
			</li>
		</ul>
	</fieldset>
</div>