<h1>서비스 목록</h1>
<hr>
<form name="serviceForm" novalidate ng-submit="addservice()">
  <div class="form-group"
      ng-class="{'has-error': serviceForm.content.$invalid
        && serviceForm.content.$dirty}">
    <input type="text" class="form-control focus" name="content"
        placeholder="내용" autocomplete="off" required
        ng-model="newservice.content">
    <span class="has-error control-label" ng-show="
        serviceForm.content.$invalid && serviceForm.content.$dirty">
      꼭 입력해야 함.
    </span>
  </div>
  <button class="btn btn-default" ng-disabled="serviceForm.$invalid">Add</button>
</form>
<hr>
<div class="list-group">
  <a class="list-group-item" ng-repeat="service in services">{{service.content}}&nbsp;
    <i class="glyphicon glyphicon-remove pull-right"
        ng-click="removeService(todo)"></i></a>
</div>